/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  display: flex;
  height: 300px;
  padding: 15%;
  margin: 5% 0 0 0;
  border-radius: 50%;
}
.carousel a {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

main {
  min-height: 80vh;
}

h1 {
  padding: 0.3rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

h3 {
  padding-top: 1rem;
}

.rating span {
  margin: 0.1rem;
}
